.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --attention-grabbing: #EE3643;
  --attention-grabbing-active: #BA2732;
  --place-your-order: #63A63E;
  --place-your-order-hover: #5FBB2D;
  --personal-account-and-copyright: #293449;
  --navigation: #32425C;
  --special-background: #F1F5F7;ок

  --bacis-font: #000;
  --basic-background: #FFF;
  --basic-background-transparent: rgba(255, 255, 255, 0.5);
  --special-link: #FFD180;
  --old-price: #A9A9A9;
  --link-active: #161D29;
  --specail-link-active: #1D2739;
}


body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: var(--bacis-font);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  font-transform: lowercase;
  background-color: var(--basic-background);
  background-position: top center
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.header-basic ul, .nav-catalog ul, .filters ul, .products ul, .footer-basic ul, .topics ul, .popular-products ul, .popular-manufacturers ul, .services ul, .technomart-company ul{
  list-style: none;
}

.technomart-company{
  width: 478px;
  margin-right: 162px;
}

.header-basic {
  background-color: var(--special-background);
  padding-bottom: 60px;
}

.logo{
  display: block;
  background-color: var(--attention-grabbing);
  width: 165px;
  height: 35px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding-top: 12px;
  padding-left: 55px;
}

.logo:active{
  background-color: var(--attention-grabbing-active);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.user-panel {
  background-color: var(--personal-account-and-copyright);
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
  height: 42px;
  display: flex;
  align-items: center;
}

.user-panel a, .nav-main a{
  color: var(--basic-background);
}

.place-your-order{
  background-color: var(--place-your-order);
  padding-left: 16px;
  padding-right: 16px

}

.title-main {
  margin-right: 93px;
  font-style: italic;
  color: var(--attention-grabbing);
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.tel {

  color: var(--attention-grabbing);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-background);
  width: 270px;
  padding-top: 7px;
  padding-bottom: 8px;
  text-align: center;

}

.adress-header{
  color: var(--navigation);
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
}


.authorization{
  display: flex;
  font-size: 21px;
  line-height: 21px;
}

.sign-in, .sign-up{
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 10px;
  width: 121px;
  text-align: center;
  color: var(--bacis-font);
  background-color: var(--basic-background);
}

.nav-main{
  background-color: var(--navigation);
  font-size: 18px;
  line-height: 24px;
  height: 60px;
  width: 940px;
}

.list-nav-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-main li{
  padding-top: 16px;
  padding-bottom: 20px;
}


 .technomart-company p, .contacts p{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.technomart-company h2, .contacts h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-list li{
  font-size: 18px;
  line-height: 24px;
}

.company-list a{
  color: var(--bacis-font);
}

.list-products{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 990px;
  justify-content: space-between;
  align-content: space-between;
}

.attention{
  display: block;
  background-color: var(--attention-grabbing);
  color: var(--basic-background);
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
}

.more-about-company{
  width: 220px;
}

.write-to-us{
  width: 300px;
  margin-top: 20px;
}

.attention:active{
  background-color: var(--attention-grabbing-active);
}

.special-link a{
  color: var(--basic-background);
}

.footer-basic{
  background-color: var(--navigation);
}

.nav-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  width: 942px;
}

.nav-footer-first a{
  color: var(--special-background);
}

.nav-footer-first li, .nav-footer-second li{
  margin-left: 58px;
}

.nav-footer-second::nth-child(1){
  margin-left: 0px;
}

.nav-footer p{
  margin-right: 0px;
}

.nav-footer-first, .nav-footer-second{
  display: flex;
  flex-direction: row;
}

.nav-footer-second a, .developers-and-social-networks a{
  color: var(--special-link);
}

.adress-footer, .adress-footer a{
  color: var(--special-background);
}

.feedback{
  margin-left: 413px;
  margin-right: 51px;
}

.developers-and-social-networks{
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  background-color: var(--personal-account-and-copyright);
  color: var(--basic-background);
  font-size: 16px;
  line-height: 18px;
}

.list-products{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.old-price{
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--old-price);
}

.list-products h3{
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.list-keys-sort{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.list-keys-sort a{
  color: var(--bacis-font);
}

.title-topic{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--navigation);
  background-color: var(--special-background);
  width: 940px;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.filters{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.filters label{
  font-size: 15px;
  line-height: 19px;
}

.filters legend{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.menu-header a:active, .user-panel label:active{
  color: var(--basic-background-transparent);
  background-color: var(--link-active);
}
.menu-header{
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-header a{
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 26px;
  padding-right: 26px;
}

.place-your-order:hover{
  background-color: var(--place-your-order-hover);
}

.place-your-order:active{
  background-color: var(--place-your-order);
}

.nav-main li:hover{
  background-color: var(--link-active);
}

.nav-main li:active{
  background-color: var(--specail-link-active);
  color: var(--basic-background-transparent);
}

.nav-footer-first a:hover, .nav-footer-second a:hover{
  text-decoration: underline;
}

.nav-footer-first a:active, .nav-footer-second a:active{
  opacity: 0.5;
  text-decoration: none;
}

.search{
  margin-left: 19px;
}

.header-group{
  display: flex;
  margin-top: 37px;
  margin-bottom: 44px;
  align-items: flex-end;
}

.tel-adress{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 69px;

}

.filters-products{
  display: flex;
  flex-direction: row;
}

.technomart-company-contacts{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-bottom: 70px;
}
