:root {
  --attention-grabbing: #EE3643;
  --attention-grabbing-active: #BA2732;
  --attention-link-hover: #CA2C37;
  --topics-link-hover: rgba(197, 197, 197, 0.3);
  --topics-link-active: rgba(169, 169, 169, 0.3);
  --place-your-order: #63A63E;
  --place-your-order-hover: #5FBB2D;
  --personal-account-and-copyright: #293449;
  --navigation: #32425C;
  --special-background: #F1F5F7;
  --title-background: #F9F5F0;
  --bacis-font: #000;
  --basic-background: #FFF;
  --basic-background-transparent: rgba(255, 255, 255, 0.5);
  --special-link: #FFD180;
  --old-price: #A9A9A9;
  --link-active: #161D29;
  --border-services-slider-contols: #3C4D68;
  --specail-link-active: #1D2739;
  --credit-link: #FF5357;
  --topic-materials: #FFBF47;
  --topic-instrument: #3BBCE3;
  --topic-technic: #DC91D8;
  --topic-discount: #8ED78F;
  --topic-delivery: #FFC047;
  --background-transparent: rgba(255, 255, 255, 0.3);
  --special-transparent: rgba(0, 0, 0, 0.3);
  --price-item: #F7F3EC;
  --price-item-scale: #D7DCDE;
  --price-item-bar: #00CA74;
  --price-item-toggle: #ABABAB;
  --toggle-shadow: #CFCFCF;
  --price-item-line: #444444;
  --controls-border: #E5E5E5;
  --controls-border-hover: #C5C5C5;
  --add-to-cart-border: #367215;
  --add-to-cart-active: #518534;
  --product-shadow: rgba(0, 0, 0, 0.15);
  --modal-shadow: rgba(0, 0, 0, 0.7);
  --logo-shadow: rgba(0, 0, 0, 0.24);
  --transparent: transparent;
  --modal-write-us: #F4F4F4;
}

::-moz-placeholder {
  opacity: 1;
}

.search-input::-webkit-input-placeholder {
  color: var(--basic-background);
}

.search-input::-moz-placeholder {
  color: var(--basic-background);
}

.search-input:-moz-placeholder {
  color: var(--basic-background);
}

.search-input:-ms-input-placeholder {
  color: var(--basic-background);
}

.search-input:focus::-webkit-input-placeholder {
  color: var(--basic-font);
}

.search-input:focus::-moz-placeholder {
  color: var(--basic-font);
}

.search-input:focus:-moz-placeholder {
  color: var(--basic-font);
}

.search-input:focus:-ms-input-placeholder {
  color: var(--basic-font);
}

.write-us-form input::-webkit-input-placeholder {
  color: var(--old-price);
}

.write-us-form input::-moz-placeholder {
  color: var(--old-price);
}

.write-us-form input:-moz-placeholder {
  color: var(--old-price);
}

.write-us-form input:-ms-input-placeholder {
  color: var(--old-price);
}

.write-us-form textarea::-webkit-input-placeholder {
  color: var(--old-price);
}

.write-us-form textarea::-moz-placeholder {
  color: var(--old-price);
}

.write-us-form textarea:-moz-placeholder {
  color: var(--old-price);
}

.write-us-form textarea:-ms-input-placeholder {
  color: var(--old-price);
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: var(--bacis-font);
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  background-color: var(--basic-background);
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: content-box;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header ul, .nav-catalog, .filters ul, .products ul, .footer ul,
.topics ul, .popular-products ul, .popular-manufacturers ul,
.services ul, .technomart-company ul {
  list-style: none;
}

.footer a:focus {
  background-color: inherit;
}

.technomart-company {
  width: 478px;
  margin: 0;
  margin-right: 162px;
}

.header {
  background-color: var(--special-background);
  padding-bottom: 60px;
}

.background-header {
  background-color: var(--personal-account-and-copyright);
}

.user-panel {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
  min-height: 42px;
  display: flex;
  align-items: center;
}

.user-panel a, .nav-main a {
  color: var(--basic-background);
}

.place-your-order {
  display: block;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--place-your-order);
  height: 100%;
  width: 150px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.title-main {
  margin: 0;
  font-style: italic;
  color: var(--attention-grabbing);
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  width: 197px;
}

.address-header {
  color: var(--navigation);
  margin: 0;
  margin-top: 3px;
  font-size: 14px;
  line-height: 24px;
}

.authorization {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.nav-main {
  padding: 0;
  background-color: var(--navigation);
  font-size: 18px;
  line-height: 24px;
  min-height: 60px;
  box-shadow: inset 0 -5px 0 var(--personal-account-and-copyright);
}

.list-nav-main {
  margin: 0;
  padding-left: 22px;
  padding-right: 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-nav-main a {
  display: block;
  padding-top: 17px;
  padding-bottom: 14px;
  padding-left: 29px;
  padding-right: 29px;
}

.logo-header {
  position: relative;
  display: block;
  background-color: var(--attention-grabbing);
  width: 220px;
  height: 42px;
  padding: 0;
  margin: 0;
}

.logo-header::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 18px;
  left: 55px;
  top: 12px;
  background-image: url(../img/logo-header.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.logo-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: var(--attention-grabbing);
  box-shadow: inset 0 -5px 0 var(--logo-shadow);
}

.logo-footer {
  position: relative;
  display: block;
  width: 220px;
  height: 68px;
  background-color: var(--attention-grabbing);
  box-shadow: inset 0 -5px 0 var(--logo-shadow);
  padding: 0;
  margin: 0;
}

.logo-footer::before {
  position: absolute;
  content: "";
  width: 142px;
  height: 23px;
  left: 41px;
  top: 20px;
  background-image: url(../img/logo-footer.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.logo-header:hover, .logo-footer:hover,
.logo-header:hover::after, .logo-header:focus,
.logo-footer:focus, .logo-header:focus::after {
  background-color: var(--attention-link-hover);
}

.logo-header::after:hover, .logo-header::after:focus {
  background-color: var(--attention-link-hover);
}

.logo-header:active, .logo-footer:active {
  background-color: var(--attention-grabbing-active);
}

.technomart-company p, .contacts p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.contacts p {
  margin: 0;
  margin-bottom: 33px;
}

.technomart-company h2, .contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.real-shopping {
  margin: 0;
  margin-top: 24px;
}

.about-delivery {
  width: 410px;
  margin: 0;
  margin-top: 27px;
}

.company-list {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 0;
}

.company-list li {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding-left: 37px;
  margin-bottom: 12px;
}

.company-list li:last-child {
  margin-bottom: 0;
}

.navigation-map {
  display: block;
  height: 158px;
}

.company-list li::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  top: 45%;
  background-color: var(--attention-grabbing);
  cursor: pointer;
}

.company-list a {
  color: var(--bacis-font);
}

.company-list a:focus, .company-list a:hover {
  background-color: inherit;
  color: var(--attention-grabbing);
}

.company-list a:active {
  background-color: inherit;
  color: var(--attention-grabbing-active);
}

.control-left, .control-right {
  cursor: pointer;
}

.list-products {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: auto auto auto;
  grid-gap: 18px 20px;
}

.attention {
  display: block;
  background-color: var(--attention-grabbing);
  color: var(--basic-background);
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
}

.more-about-company {
  width: 220px;
}

.write-us-link {
  width: 300px;
  margin-top: 25px;
}

.attention:active {
  background-color: var(--attention-grabbing-active);
}

.special-link a {
  color: var(--basic-background);
}

.footer {
  background-color: var(--navigation);
}

.nav-footer  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 54px;
}

.nav-footer-first a {
  color: var(--special-background);
}

.nav-footer-first li, .nav-footer-second li {
  margin-right: 59px;
  margin-bottom: 17px;
}

.nav-footer-first li:last-child, .nav-footer-second li:last-child {
  margin-right: 0;
}

.nav-footer p {
  margin-right: 0;
}

.nav-footer-first, .nav-footer-second {
  margin: 0;
  width: 548px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-footer-first {
  padding: 0;
  padding-top: 37px;
}

.nav-footer-second {
  width: 523px;
  padding: 0;
  padding-top: 17px;
}

.nav-footer-second a, .developers-and-social-networks a {
  color: var(--special-link);
}

.address-footer, .address-footer a {
  color: var(--special-background);
}

.address-footer a:hover, .address-footer a:focus {
  text-decoration: underline;
}

.address-footer {
  width: 323px;
  margin: 0;
  margin-top: 13px;
  margin-left: 1px;
}

.feedback {
  width: 136px;
  margin-left: 75px;
  margin-right: 52px;
}

.background-footer {
  background-color: var(--personal-account-and-copyright);
}

.developers-and-social-networks {
  padding-top: 29px;
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--basic-background);
  font-size: 16px;
  line-height: 18px;
}

.developers-and-social-networks p {
  margin-top: 0;
  margin-bottom:0;
}

.product p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.old-price {
  margin: 0;
  margin-top: 7px;
  color: var(--old-price);
  text-decoration: line-through;
}

.list-products h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.sort-item {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 0;
  padding: 10px 0;
  padding-left: 20px;
  padding-right: 16px;
  border-radius: 3px;
  background-color: var(--price-item);
  display: flex;
  flex-wrap: wrap;
}

.title-sort {
  font-weight: normal;
  margin: 0;
  margin-right: auto;
}

.list-keys-sort {
  width: 354px;
  padding: 0;
  margin: 0;
  margin-right: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-keys-sort a {
  display: block;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--attention-grabbing);
  padding: 0;
  background-color: var(--price-item);
  color: var(--special-transparent);
}

.sort-control {
  padding: 0;
  margin: auto 0;
  width: 11px;
  height: 10px;
  background-color: var(--price-item);
  background-image: url(../img/arrow-control.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sort-control:hover, .sort-control:focus {
  background-color: inherit;
  background-image: url(../img/arrow-control-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sort-item .sort-control-current, .sort-item .sort-control-current:hover,
.sort-item .sort-control-current:focus {
  background-image: url(../img/arrow-control-active.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sort-item .control-up {
  transform: rotate(-180deg);
  margin-right: 21px;
}

.list-keys-sort a:hover, .list-keys-sort a:focus {
  background-color: inherit;
  color: var(--basic-font);
  border-bottom: 1px solid var(--attention-grabbing);
}

.list-keys-sort .sort-current, .list-keys-sort .sort-current:hover {
  border: none;
  color: var(--attention-grabbing);
}

.title-topic {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--navigation);
  background-color: var(--special-background);
  box-sizing: border-box;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.filters {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  width: 220px;
}

.filters label {
  font-size: 15px;
  line-height: 19px;
}

.filters legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.apply-sorting {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: 1px solid var(--special-background);
  background-color: var(--basic-background);
  color: var(--basic-font);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 37px;
  cursor: pointer;
}

.menu-header a:active, .user-panel label:active {
  color: var(--basic-background-transparent);
  background-color: var(--link-active);
}

.menu-header {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
}


.place-your-order:hover, .place-your-order:focus {
  background-color: var(--place-your-order-hover);
}

.place-your-order:active {
  background-color: var(--place-your-order);
}

.nav-main a:hover, a:focus {
  background-color: var(--link-active);
}

.nav-main a:active {
  background-color: var(--specail-link-active);
  color: var(--basic-background-transparent);
}

.nav-footer-first a:hover, .nav-footer-second a:hover,
.mail:hover, .developers-site:hover, .nav-footer-first a:focus,
.nav-footer-second a:focus, .mail:focus, .developers-site:focus {
  text-decoration: underline;
}

.mail:active, .developers-site:active {
  text-decoration: none;
  color: var(--attention-grabbing);
}

.nav-footer-first a:active, .nav-footer-second a:active {
  opacity: 0.5;
  text-decoration: none;
}

.search {
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.search-input {
  display: block;
  border: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--personal-account-and-copyright);
  color: var(--bacis-background);
  padding-left: 42px;
}

.search button {
  cursor: pointer;
}

.search-input:focus {
  background-color: var(--basic-background);
  color: var(--bacis-font);
  cursor: pointer;
 }

.search-label::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  cursor: pointer;
}

.search-label:hover::after {
  opacity: 1;
}

.search-input:focus + .search-label::after {
  background-image: url(../img/icon-search-focus.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 1;
}

.search-input:active + .search-label::after, .search-label:active::after {
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.search-input:active {
  background-color: inherit;
  color: var(--basic-background);
  opacity: 0.3;
}

.header-group {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 0;
  padding-top: 45px;
  padding-bottom: 41px;
  padding-left: 30px;
  align-items: flex-start;
}

.tel-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 29px;
  margin-left: 93px;
}

.tel-address a {
  box-sizing: border-box;
  min-width: 270px;
  position: relative;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--attention-grabbing);
  display: block;
  padding-left: 71px;
  padding-right: 42px;
  padding-top: 4px;
  padding-bottom: 5px;
  border: 3px solid var(--basic-background);
}

.tel-address a:focus, .tel-address a:hover {
  background-color: inherit;
  border-color: var(--attention-grabbing);
}

.tel-address a::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filters-products {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 47px;
}

.technomart-company-contacts {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 69px;
}

.contacts {
  margin: 0;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 24px;
}

.menu-header li {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bookmarks::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.bookmarks:hover::after, .cart:hover::after {
  opacity: 1;
}

.bookmarks:active::after, .cart:active::after {
  opacity: 0.3;
}

.bookmarks {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 155px;
  height: 100%;
  padding-right: 0;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.cart::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.cart {
  margin: 0;
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 136px;
  height: 100%;
  padding-right: 0;
  padding-left: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.authorization li {
  padding: 0;
  margin: 0;
}

.authorization .sign-in {
  box-sizing: border-box;
  width: 121px;
  min-height: 45px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 11px;
}

.authorization .sign-up {
  box-sizing: border-box;
  width: 150px;
  min-height: 45px;
  margin: 0;
  margin-left: 10px;
  padding-top: 13px;
  padding-bottom: 11px;
}

.authorization .sign-in, .authorization .sign-up,
.personal-account .profile {
  display: block;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-background);
  color: var(--bacis-font);
}

.authorization .sign-in {
  position: relative;
  padding-left: 45px;
}

.authorization .sign-in::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.authorization .sign-up {
  text-align: center;
}

.authorization .sign-in:hover, .authorization .sign-in:focus,
.authorization .sign-up:hover, .authorization .sign-up:focus {
  color: var(--attention-grabbing);
}

.authorization .sign-in:active, .authorization .sign-up:active,
.personal-account .profile:active {
  color: var(--old-price);
}

.authorization .sign-in:hover::after {
  background-image: url(../img/icon-login-active.svg);
}

.authorization .sign-in:active::after {
  background-image: url(../img/icon-login.svg);
}

.developers-and-social-networks .copyright {
  width: 227px;
  margin-top: 4px;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--special-background);
  width: 220px;
  min-height: 318px;
  cursor: pointer;
}

.new::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(../img/product-new.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  cursor: pointer;
}

.product:hover, .product:focus {
  box-shadow: 0 4px 20px var(--product-shadow);
}

.product h3, .product h4, .product p {
  text-align: center;
}

.product h3, .product h4 {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  width: 157px;
  margin: 0 auto;
}

.product .price {
  width: 141px;
  min-height: 38px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 33px;
  text-align: left;
  color: var(--basic-background);
  background-image: url(../img/shape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 45px;
  margin-top: auto;
  margin-bottom: 20px;
}

.background-about-perforators{
  background-color: var(--special-background);
}

.about-perforators p{
  margin: 0;
}

.about-perforators {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  box-sizing: border-box;
  padding-top: 64px;
  padding-left: 0;
  padding-bottom: 68px;
}

.about-perforators h3 {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.background-services {
  background-color: var(--special-background);
}

.title-popular {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--title-background);
  align-items: center;
  min-height: 89px;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 14px;
  justify-content: space-between;
}

.title-popular a, .topics-slide a{
  display: block;
  background-color: var(--attention-grabbing);
  color: var(--basic-background);
  margin: 0;
  padding: 0;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.contacts .navigation-map:focus, .contacts .navigation-map:hover {
  outline: 3px solid var(--personal-account-and-copyright);
}

.contacts .navigation-map:active {
  opacity: 0.7;
}

.topics-slide a:hover, .topics-slide a:focus {
  background-color: var(--attention-link-hover);
}

.title-popular a:hover, .title-popular a:focus,
.topics-slide a:active, .more-about-company:hover,
.more-about-company:focus, .write-us-link:hover, .write-us-link:focus {
  background-color: var(--attention-grabbing-active);
  box-shadow: none;
}

.title-popular h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  color: var(--navigation);
  font-weight: normal;
}

.manufacturers-list li {
  margin: 0;
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.manufacturers-list a {
  display: block;
  width: 100%;
  height: 100%;
}

.all-manufacturers {
  padding-right: 19px;
}


.manufacturers-list a:hover, .manufacturers-list a:focus {
  box-shadow: 0 4px 20px var(--product-shadow);
}

.manufacturers-list a:active {
  opacity: 0.5;
}

.manufacturers-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  grid-gap: 20px;
}

.list-popular-products {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 0;
}

.services h2 {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}


.services {
  padding-top: 64px;
  padding-bottom: 2px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-font);
}

.description-services {
  width: 397px;
}

.services-slide-title {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--navigation);
  margin: 0;
  padding: 0;
}

.services-list-sliders {
  margin: 0;
  padding: 0;
  margin-left:80px;
}

.services-slider-controls {
  position: relative;
  padding: 0;
  width: 240px;
  margin: 0;
  margin-top: 1px;
}

.services-slider-controls::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  right: 0;
  top: 40%;
  transform: translateY(-60%);
  background-image: url(../img/services-shadow.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}


.services-control {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  box-sizing: border-box;
  width: 240px;
  min-height: 62px;
  border: none;
  background-color: var(--navigation);
  color: var(--basic-background);
  border-top: 1px solid var(--border-services-slider-contols);
  border-bottom: 1px solid var(--personal-account-and-copyright);
  padding: 0;
  margin: 0;
  padding-left: 22px;
  padding-bottom: 5px;
  text-align: left;
  cursor: pointer;
}

.services-slide {
  position: relative;
  width: 619px;
  min-height: 283px;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.services-slide p {
  margin: 0;
}

.delivery p {
  width: 277px;
  margin-top: 29px;
}

.guarantee p {
  width: 312px;
  margin-top: 25px;
}

.credit p {
  width: 290px;
  margin-top: 28px;
}

.delivery::before {
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  top: 20px;
  right: 1px;
  background-image: url(../img/delivery.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.guarantee::before {
  position: absolute;
  content: "";
  width: 389px;
  height: 283px;
  top: -3px;
  right: -8px;
  background-image: url(../img/guarantee.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.credit::before {
  position: absolute;
  content: "";
  width: 465px;
  height: 285px;
  top: -2px;
  right: -10px;
  background-image: url(../img/credit.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.credit a {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 195px;
  min-height: 38px;
  background-color: var(--credit-link);
  color: var(--basic-background);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 26px;
  border-radius: 3px;
}

.credit a:hover, .credit a:active {
  background-color: var(--attention-grabbing-active);
}

.services-control-current {
  background-color: var(--basic-background);
  color: var(--navigation);
  border: none;
  cursor: default;
}

.popular-manufacturers {
  padding-bottom: 70px;
}

.icon-social {
  display: flex;
}

.icon-social::after {
  content: "";
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.icon-vk::after {
  background-image: url(../img/icon-vk.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-fb::after {
  background-image: url(../img/icon-fb.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-insta::after {
  background-image: url(../img/icon-insta.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-vk:hover::after, .icon-vk:focus::after {
  background-image: url(../img/icon-vk-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-fb:hover::after, .icon-fb:focus::after {
  background-image: url(../img/icon-fb-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-insta:hover::after, .icon-insta:focus::after {
  background-image: url(../img/icon-insta-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-networks {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 0;
  margin: 0;
  margin-left: 119px;
  margin-top: 4px;
}

.topics {
  padding-top: 59px;
  padding-bottom: 59px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.topics-list {
  display: contents;
}

.topics-list a:focus {
  box-shadow: none;
}

.topic-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin: 0;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 23px;
  padding-right: 0;
}

.topic-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-background);
  margin: 0;
  padding: 0;
}

.topic-item a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-transparent);
  color: var(--basic-background);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 13px;
  width: 135px;
}

.topic-item a:hover, .topic-item a:focus {
  background-color: var(--topics-link-hover);
}

.topic-item a:active {
  background-color: var(--topics-link-active);
}

.materials {
  background-color: var(--topic-materials);
  background-image: url(../img/bucket.svg);
  background-position: 213px 31px;
  background-repeat: no-repeat;
}

.instrument {
  background-color: var(--topic-instrument);
  background-image: url(../img/perforator.svg);
  background-position: 194px 34px;
  background-repeat: no-repeat;
}

.technic {
  background-color: var(--topic-technic);
  background-image: url(../img/tractor.svg);
  background-position: 191px 31px;
  background-repeat: no-repeat;
}

.discount {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  background-color: var(--topic-discount);
  background-image: url(../img/shopping-cart.svg);
  background-position: 196px 26px;
  background-repeat: no-repeat;
}

.topic-delivery {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
  background-color: var(--topic-delivery);
  background-image: url(../img/van.svg);
  background-position: 191px 32px;
  background-repeat: no-repeat;
}

.topics-slider {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.topics-slider-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.topics-slide-current {
  display: flex;
  flex-direction: column;
}

.topics-slide h3 {
  color: var(--basic-background);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.topics-slide p {
  color: var(--basic-background);
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  line-height: 24px;
}

.topics-slide {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 27px;
}

.control-left {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  left: 24px;
  bottom: 104px;
  background-color: var(--transparent);
  border: none;
  background-image: url(../img/icon-left.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.control-right {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  right: 20px;
  bottom: 104px;
  background-color: var(--transparent);
  border: none;
  background-image: url(../img/icon-right.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.topics-slide a {
  margin-top: auto;
}

.slide-perforators {
  background-image: url(../img/slide-perforators.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slide-drills {
  background-image: url(../img/slide-drills.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-slider-controls button:hover, .services-slider-controls button:focus {
  background-color: var(--personal-account-and-copyright);
}

.services-slider-controls  .services-control-current:hover,
.services-slider-controls  .services-control-current:focus {
  background-color: var(--basic-background);
}

.price-item, .manufacturers-item, .power-item {
  margin: 0;
  padding: 0;
  border: none;
}

.price-item {
  position: relative;
  padding-bottom: 42px;
}

.price-item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 16px;
  width: 100%;
  height: 1px;
  background: var(--special-background);
  cursor: pointer;
}

.price-item legend {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.range-controls {
  position: relative;
  background-color: var(--price-item);
  border-radius: 5px;
  margin-bottom: 9px;
  padding: 39px 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--price-item-scale);
}

.range-controls .bar {
  width: 84%;
  height: 100%;
  background-color: var(--price-item-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-background);
  border-radius: 50%;
  background-color: var(--price-item-toggle);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.filters h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 18px;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--price-item);
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  background-color: var(--price-item-line);
  cursor: pointer;
}

.price-controls input {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--price-item);
  box-sizing: border-box;
  width: 95px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.manufacturers-item label {
  font-size: 15px;
  line-height: 19px;
}

.checkbox-manufacturer + label {
  position: relative;
  padding-left: 35px;
}

.checkbox-manufacturer + label:hover,
.checkbox-manufacturer:focus + label,
.radio-power + label:hover,
.radio-power:focus + label {
  color: var(--attention-grabbing);
}

.checkbox-manufacturer + label::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 26px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox-manufacturer + label:hover::before,
.checkbox-manufacturer:focus + label::before {
  background-image: url(../img/checkbox-off-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.checkbox-manufacturer:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.checkbox-manufacturer:checked + label:hover::before,
.checkbox-manufacturer:focus:checked + label::before {
  background-image: url(../img/checkbox-on-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.list-checkbox-manufacturers {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.list-checkbox-manufacturers::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 18px;
  width: 100%;
  height: 1px;
  background: var(--special-background);
  cursor: pointer;
}

.list-checkbox-manufacturers li {
  margin-bottom: 16px;
}

.list-checkbox-manufacturers li:last-child {
  margin-bottom: 0;
}

.list-radio-power {
  padding: 0;
  margin: 0;
}

.list-radio-power li {
  margin-bottom: 16px;
}

.list-radio-power li:last-child {
  margin-bottom: 0;
}

.radio-power + label {
  position: relative;
  padding-left: 35px;
}

.radio-power + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.radio-power + label:hover::before,
.radio-power:focus + label::before {
  background-image: url(../img/radio-off-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.radio-power:checked + label::before {
  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.radio-power:checked + label:hover::before,
.radio-power:focus:checked + label::before {
  background-image: url(../img/radio-on-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.power-item legend {
  margin-bottom: 4px;
}

.power-item {
  padding-top: 18px;
}

.manufacturers-item legend {
  margin-bottom: 15px;
}

.catalog-products-controls {
  padding: 0;
  margin: 0;
  margin-top: 48px;
  width: 290px;
  display: flex;
  flex-wrap: wrap;

}

.catalog-products-controls a {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-background);
  color: var(--basic-font);
  padding: 9px 14px;
  border: 1px solid var(--controls-border);
  border-radius: 2px;
}

.catalog-products-controls li {
  margin-right: 11px;
  margin-bottom: 11px;
}

.catalog-products-controls li:last-child {
  margin-right: 0;
}

.catalog-products-controls .button-next {
  padding: 9px 31px;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-products-controls a:hover {
  border-color: var(--controls-border-hover);
}

.catalog-products-controls a:active {
  border-color: var(--attention-grabbing);
}

.products {
  padding-left: 20px
}

.catalog-products-controls .catalog-current {
  border: none;
  padding: 10px 15px;
  color: var(--basic-background);
  background-color: var(--attention-grabbing);
}

.nav-catalog a {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-font);
}

.nav-catalog {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-bottom: 18px;
}

.link-main a {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-main a::after {
  content: "";
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.catalog-group {
  position: relative;
  padding-left: 41px;
}

.catalog-group a:focus {
  color: var(--basic-background);
}

.catalog-group::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.product:hover .product-image, .product:focus .product-image {
  display: none;
}

.product:hover .cart-group, .product:focus .cart-group {
  display: flex;
}

.cart-group {
  display: none;
  order: -1;
  box-sizing: border-box;
  width: 100%;
  height: 179px;
  padding: 57px 0;
  padding-top: 35px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-group li {
  padding: 0;
  margin: 0;
}

.cart-group button {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.cart-group .add-to-cart {
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 7px;
  background-color:  var(--place-your-order);
  color: var(--basic-background);
  border-bottom: 3px solid var(--add-to-cart-border);
  padding-left: 20px;
}

.cart-group .add-to-cart:hover, .cart-group .add-to-cart:focus {
  background-color: var(--place-your-order-hover);
}

.cart-group .add-to-cart:active {
  background-color: var(--add-to-cart-active);
}

.cart-group .add-to-cart::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.cart-group .add-to-bookmarks {
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  width: 135px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: var(--basic-background);
  box-sizing: border-box;
  text-align: center;
  border: 3px solid var(--place-your-order);
  color: var(--navigation);
}

.cart-group .add-to-bookmarks:hover, .cart-group .add-to-bookmarks:focus,
.cart-group .add-to-bookmarks:active {
  border-color: var(--navigation);
}

.cart-group .add-to-bookmarks:active {
  border-color: var(--navigation);
  opacity: 0.5
}

.product-image {
  box-sizing: border-box;
  width: 100%;
  padding-right: 6px;
  padding-bottom: 10px;
  height: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  background-color: var(--basic-background);
  color: var(--basic-font);
  border-top: 7px solid var(--attention-grabbing);
  box-shadow: 0 4px 20px var(--product-shadow);
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-color: var(--transparent);
  border: 0;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -2px;
  width: 27px;
  height: 4px;
  background-color: var(--attention-grabbing);
  cursor: pointer;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  width: 943px;
  height: 442px;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-write-us {
  width: 620px;
  background-color: var(--basic-background);
  color: var(--basic-font);
  top: 50px;
  bottom: auto;
  padding: 0;
}

.write-us-form {
  background-color: inherit;
  padding: 0;
  margin: 0;
}

.index-main label, .catalog-main label, .modal label {
  cursor: pointer;
}

.wrapper-form-field {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 37px 80px;
  padding-top: 39px;
}

.write-us-form p {
  padding: 0;
  margin: 0;
}

.write-us-form .login-name, .write-us-form .login-email {
  width: 220px;
  margin-bottom: 13px;
}

.message-text {
  width: 100%;
}

.write-us-form input, .write-us-form textarea {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  background-color: inherit;
  color: var(--old-price);
  box-sizing: border-box;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 10px;
  border: 2px solid var(--controls-border-hover);
  border-radius: 2px;
  margin-top: 11px;
}

.write-us-form textarea {
  display: block;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 10px;
}

.login-name input, .login-email input {
  height: 38px;
}

.write-us-form textarea {
  resize: none;
}

.write-us-form label {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  padding-left: 1px;
}

.write-us-form label:hover, .write-us-form label:focus {
  color: var(--attention-grabbing);
}

.write-us-form label:active {
  color: var(--old-price);
}

.wrapper-sumbit-button {
  background-color: var(--modal-write-us);
  padding: 37px 80px;
}

.submit-write-us-form {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  background-color: var(--attention-grabbing);
  color: var(--basic-background);
  padding: 10px 0;
  border: none;
}

.submit-write-us-form:hover, .submit-write-us-form:focus {
  background-color: var(--attention-grabbing-active);
}

.personal-account {
  display: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 299px;
}

.personal-account .profile {
  position: relative;
  box-sizing: border-box;
  width: 299px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 12px;
  padding-left: 56px;
}

.personal-account .profile::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.personal-account .profile::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 17px;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-logout.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.personal-account .profile:hover::before,
.personal-account .profile:focus::before {
  background-image: url(../img/icon-user-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.personal-account .profile:hover::after,
.personal-account .profile:focus::after {
  background-image: url(../img/icon-logout-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.personal-account .profile:active::before {
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.personal-account .profile:active::after {
  background-image: url(../img/icon-logout.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.personal-account a {
  display: block;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--navigation);
}

.personal-account a:hover, .personal-account a:focus {
  color: var(--attention-grabbing);
}

.my-orders {
  margin-top: 7px;
  padding-left: 45px;
}

.profile-page {
  position: relative;
  margin-top: 7px;
  padding-left: 33px;
}

.my-orders:focus, .profile-page:focus {
  background-color: inherit;
}

.profile-page::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--navigation);
  border-radius: 2px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.hide {
  display: none;
}

.show-flex {
  display: flex;
}

.menu-header .cart-login {
  background-color: var(--attention-grabbing);
}

.menu-header .cart-login:hover,
.menu-header .cart-login :focus {
  background-color: var(--attention-grabbing-active);
}

.contacts .pickup {
  width: 181px;
}

.site-developer {
  width: 97px;
}

.topics-slider-controls, .topics-slider-controls li,
.sort-keys-controls, .sort-keys-controls li{
  padding: 0;
  margin: 0;
}

.sort-keys-controls {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.catalog-group:hover, .catalog-group:focus {
  background-color: inherit;
  color: var(--attention-grabbing);
}
