:root {
  --attention-grabbing: #EE3643;
  --attention-grabbing-active: #BA2732;
  --place-your-order: #63A63E;
  --place-your-order-hover: #5FBB2D;
  --personal-account-and-copyright: #293449;
  --navigation: #32425C;
  --special-background: #F1F5F7;
  --title-background: #F9F5F0;
  --bacis-font: #000;
  --basic-background: #FFF;
  --basic-background-transparent: rgba(255, 255, 255, 0.5);
  --special-link: #FFD180;
  --old-price: #A9A9A9;
  --link-active: #161D29;
  --border-services-slider-contols: #3C4D68;
  --specail-link-active: #1D2739;
  --credit-link: #FF5357;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {

  min-width: 960px;
  margin: 0;
  padding: 0;
  color: var(--bacis-font);
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  background-color: var(--basic-background);
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  box-sizing: content-box;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header ul, .nav-catalog, .filters ul, .products ul, .footer ul, .topics ul, .popular-products ul, .popular-manufacturers ul, .services ul, .technomart-company ul {
  list-style: none;
}

.technomart-company {
  width: 478px;
  margin-right: 162px;
}

.header {
  background-color: var(--special-background);
  padding-bottom: 60px;
}

.logo {
  display: block;
  background-color: var(--attention-grabbing);
  box-sizing: border-box;
  width: 220px;
  height: 52px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding-top: 16px;
  padding-left: 55px;
}

.logo:active {
  background-color: var(--attention-grabbing-active);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.background-header{
  background-color: var(--personal-account-and-copyright);
  height: 42px;
}

.user-panel {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-panel a, .nav-main a{
  color: var(--basic-background);
}

.place-your-order {
  background-color: var(--place-your-order);
  height: 100%;
  width: 150px;
  margin: 0;

}

.place-your-order a{
  display: block;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--place-your-order);
  height: 100%;
  width: 100%;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;

}

.title-main {
  margin: 0px;
  font-style: italic;
  color: var(--attention-grabbing);
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  min-width: 197px;
}



.adress-header {
  color: var(--navigation);
  margin: 0px;
  margin-top: 3px;
  font-size: 14px;
  line-height: 24px;
}


.authorization {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  line-height: 21px;
  margin: 0px;
}

.nav-main {
  padding: 0px;
  background-color: var(--navigation);
  font-size: 18px;
  line-height: 24px;
  min-height: 60px;

  box-shadow: inset 0px -5px 0px var(--personal-account-and-copyright);

}

.list-nav-main {
  margin: 0px;
  padding-left: 22px;
  padding-right: 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-nav-main a {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 29px;
  padding-right: 29px;
}


 .technomart-company p, .contacts p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.technomart-company h2, .contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-list li {
  font-size: 18px;
  line-height: 24px;
}

.company-list a {
  color: var(--bacis-font);
}

.list-products {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.attention {
  display: block;
  background-color: var(--attention-grabbing);
  color: var(--basic-background);
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
}

.more-about-company {
  width: 220px;
}

.write-to-us {
  width: 300px;
  margin-top: 20px;
}

.attention:active {
  background-color: var(--attention-grabbing-active);
}

.special-link a {
  color: var(--basic-background);
}

.footer {
  background-color: var(--navigation);
}

.nav-footer  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 54px;
}

.nav-footer-first a {
  color: var(--special-background);
}

.nav-footer-first li, .nav-footer-second li {
  margin-right: 59px;
  margin-bottom: 17px;
}

.nav-footer-first li:last-child, .nav-footer-second li:last-child {
  margin-right: 0;
}

.nav-footer-second::nth-child(1) {
  margin-left: 0px;
}

.nav-footer p {
  margin-right: 0px;
}

.nav-footer-first, .nav-footer-second {
  margin: 0px;
  width: 548px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-footer-first {
  padding: 0px;
  padding-top: 37px;
}

.nav-footer-second {
  padding: 0px;
  padding-top: 17px;
}

.nav-footer-second a, .developers-and-social-networks a{
  color: var(--special-link);
}

.adress-footer, .adress-footer a {
  color: var(--special-background);
}

.adress-footer {
  margin: 0;
  margin-top: 22px;
  margin-bottom: auto;
}

.feedback {
  margin-left: 115px;
  margin-right: 51px;
}

.background-footer {
  background-color: var(--personal-account-and-copyright);
}

.developers-and-social-networks {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--basic-background);
  font-size: 16px;
  line-height: 18px;
}

.developers-and-social-networks p{
  margin-top: 0px;
  margin-bottom:0px;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  margin-top: 7px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--old-price);
}

.list-products h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.list-keys-sort {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.list-keys-sort a {
  color: var(--bacis-font);
}

.title-topic {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--navigation);
  background-color: var(--special-background);
  box-sizing: border-box;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.filters {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.filters label {
  font-size: 15px;
  line-height: 19px;
}

.filters legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.button {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.menu-header a:active, .user-panel label:active {
  color: var(--basic-background-transparent);
  background-color: var(--link-active);
}

.menu-header {
  margin: 0;
  margin-left: 20px;
  padding: 0px;
  display: flex;
  height: 100%;
  align-items: center;
}


.place-your-order a:hover, .place-your-order a:focus {
  background-color: var(--place-your-order-hover);
}

.place-your-order a:active {
  background-color: var(--place-your-order);
}

.nav-main a:hover, a:focus {
  background-color: var(--link-active);
}

.nav-main a:active {
  background-color: var(--specail-link-active);
  color: var(--basic-background-transparent);
}

.nav-footer-first a:hover, .nav-footer-second a:hover, .mail:hover, .developers-site:hover, .nav-footer-first a:focus, .nav-footer-second a:focus, .mail:focus, .developers-site:focus {
  text-decoration: underline;
}

.mail:active, .developers-site:active {
  text-decoration: none;
  color: var(--attention-grabbing);
}

.nav-footer-first a:active, .nav-footer-second a:active {
  opacity: 0.5;
  text-decoration: none;
}

.search {
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.search input {
  display: block;
  border: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--personal-account-and-copyright);
  color: var(--bacis-font);
  padding-left: 42px;
}


.search input:focus {
  background-color: var(--basic-background);
  outline: none;
 }

.search::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.header-group {
  display: flex;
  box-sizing: border-box;
  padding-right: 0px;
  padding-top: 45px;
  padding-bottom: 41px;
  padding-left: 30px;
  align-items: flex-start;
}

.tel-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 29px;
  margin-left: 93px;
}

.tel-adress a {
  box-sizing: border-box;
  min-width: 270px;
  position: relative;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--attention-grabbing);
  display: block;
  padding-left: 71px;
  padding-right: 42px;
  padding-top: 4px;
  padding-bottom: 5px;
  border: 3px solid var(--basic-background);
}

.tel-adress a::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 39px;
  top: 50%;
  transform: translateY(-50%);
}

.filters-products {
  display: flex;
  flex-direction: row;
}

.technomart-company-contacts {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 70px;
}

.bookmarks {
  width: 145px;
  height: 100%;
}

.bookmarks a::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks a:hover::after, .cart a:hover::after {
  opacity: 1;
}

.bookmarks a:active::after, .cart a:active::after {
  opacity: 0.3;
}

.bookmarks a {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.cart {
  margin: 0;
  width: 146px;
  height: 100%;
}

.cart a::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart a {
  margin: 0;
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-left: 45px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.sign-in {
  width: 121px;
  min-height: 45px;
  margin: 0;
}

.sign-up {
  width: 150px;
  min-height: 45px;
  margin: 0;
  margin-left: 10px;
}

.sign-in a, .sign-up a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-background);
  color: var(--bacis-font);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sign-in a {
  position: relative;
  padding-left: 45px;
}

.sign-in a::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}

.sign-up a {
  text-align: center;
}

.sign-in a:hover, .sign-in a:focus, .sign-up a:hover, .sign-up a:focus {
  color: var(--attention-grabbing);
}

.sign-in a:active, .sign-up a:active {
  color: var(--old-price);
}

.sign-up a:active {
  color: var(--old-price);
}

.sign-in a:hover::after {
  background-image: url(../img/icon-login-active.svg);
}

.sign-in a:active::after {
  background-image: url(../img/icon-login.svg);
}

.social-networks {
  margin: 0;
  margin-left: 162px;
  display: flex;
  min-width: 134px;
  height: 44px;
  padding: 0px;
}

.copyright {
  width: 227px;
}



.product {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--special-background);
  width: 220px;
  min-height: 318px;
}

.product-new {
  position: relative;
}

.product-new::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(../img/product-new.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  right: 0px;
  top: 0px;
}

.product:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product h3, .product h4, .product p {
  text-align: center;
}

.product h3, .product h4 {
  margin: 0px;
}

.product .price {

  width: 141px;
  min-height: 38px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 8px;
  color: var(--basic-background);
  background-image: url(../img/shape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 45px;
  margin-top: auto;
  margin-bottom: 21px;
}

.background-about-perforators{
  background-color: var(--special-background);
}

.about-perforators p{
  margin: 0px;
}

.about-perforators {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  box-sizing: border-box;
  padding-top: 64px;
  padding-left: 0px;
  padding-bottom: 68px;
}

.about-perforators h3 {
  margin: 0px;
  margin-bottom: 25px;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}


.background-services {
  background-color: var(--special-background);
}



.title-popular {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--title-background);
  align-items: center;
  min-height: 89px;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 19px;
  justify-content: space-between;

}

.title-popular a{
  display: block;
  background-color: var(--attention-grabbing);
  color: var(--basic-background);
  margin: 0;
  padding: 0;
  min-width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.title-popular a:active {
  background-color: var(--attention-grabbing-active);
}

.title-popular h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--navigation);
}

.manufacturers-list li {
  margin: 0px;
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.manufacturers-list a {
  display: block;
  width: 100%;
  height: 100%;
}

.manufacturers-list a:hover, a:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-list a:active {
  opacity: 0.5;
}

.manufacturers-list{
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  grid-gap: 20px;
}

.list-popular-products {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 0px;
}

.services h2 {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 25px;
}


.services {
  padding-top: 64px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-font);
}

.bosch-bfg-9000 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 8px;
}

.bosch-bfg-2000, .bosch-bfg-3000 {
  margin-left: 40px;
  margin-top: 29px;
  margin-bottom: 38px;
}

.bosch-bfg-6000 {
  margin-left: 33px;
  margin-top: 22px;
  margin-bottom: 28px;
}

.description-services {
  width: 397px;
}

.services-slide-title {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--navigation);
  margin: 0;
  padding: 0;
}

.services-list-sliders {
  margin: 0px;
  padding: 0px;
  margin-left:80px;
}

.services-slider-controls {
  position: relative;
  padding: 0;
  width: 240px;
  margin: 0;
  margin-top: 3px;
}

.services-slider-controls::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  right: 0px;
  top: 40%;
  transform: translateY(-60%);
  background-image: url(../img/services-shadow.svg);
  background-position: 0 0;
  background-repeat: none;
}

.services-slider-controls li {
  width: 100%;
}

.services-current {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  box-sizing: border-box;
  width: 240px;
  min-height: 61px;
  border: none;
  background-color: var(--navigation);
  color: var(--basic-background);
  border-top: 1px solid var(--border-services-slider-contols);
  border-bottom: 1px solid var(--personal-account-and-copyright);
  padding: 0;
  margin: 0;
  padding-left: 22px;
  text-align: left;
}

.services-slide {
  width: 619px;
  min-height: 283px;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.services-slide p {
  width: 331px;
  margin: 0;
  margin-top: 25px;
}

.delivery {
  background-image: url(../img/delivery.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.guarantee {
  background-image: url(../img/guarantee.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.credit {
  background-image: url(../img/credit.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.credit a {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 195px;
  min-height: 38px;
  background-color: var(--credit-link);
  color: var(--basic-background);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.credit a:hover, .credit a:active {
  background-color: var(--attention-grabbing-active);
}

.services-current-control {
  background-color: var(--basic-background);
  color: var(--navigation);
  border: none;
}

.popular-manufacturers {
  padding-bottom: 70px;
}

.icon-social  {
  display: flex;
}

.icon-social::after {
  content: "";
  width: 44px;
  height: 44px;

}

.icon-vk::after {
  background-image: url(../img/icon-vk.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-fb::after {
  background-image: url(../img/icon-fb.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-insta::after {
  background-image: url(../img/icon-insta.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-vk:hover::after {
  background-image: url(../img/icon-vk-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-fb:hover::after {
  background-image: url(../img/icon-fb-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-insta:hover::after {
  background-image: url(../img/icon-insta-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-networks {
  width: 132px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}
